.header {
    display: flex;
    width: 90%;
    margin:auto auto;

    flex:1;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
   transition: all 1s ease;
   background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    
  
}

button {
    background-color: transparent;
    border: none;
}

#move {
   
    transform: translateX(5px);
}
