*{

}
body {
  margin: 0;
  font-family: gilroy-bold, -apple-system, system-ui, BlinkMacSystemFont,
  Segoe UI, Roboto;
  height:100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
